KERNEL!="intel_backlight", SUBSYSTEM!="backlight", ACTION!="change", GOTO="backlight_pwm_rules_end"

RUN+="intelpwm"

LABEL="backlight_pwm_rules_end"

